.container {
  display: grid;
  grid-template-columns: 100px 100px 100px 100px 100px;
  background-color: white;
  padding: 10px;
}


.container > div
{
  color: white;
  border: 1px solid black;
  height: 100px;
  line-height: 100px;
  width: 100px;
  font-size: 30px;
  text-align: center;
}

.container > div[correct="gray"]{
  background-color: gray;
}

.container > div[correct="green"]{
  background-color: green;
}

.container > div[correct="yellow"]{
  background-color: gold;
}