input[name="guess"]{
  height: 100px;
  width: 500px;
  font-size: 30px;
  text-indent: 35px;
  letter-spacing: 85px;
  font-family: monaco, monospace;
  text-transform:uppercase;
  background: transparent;
  text-overflow: clip;
  white-space: nowrap;
}

input[name="guess_letter"]{
  height: 100px;
  width: 100px;
  font-size: 30px;
  text-align: center;
  font-family: monaco, monospace;
  text-transform:uppercase;
  background: transparent;
  text-overflow: clip;
  white-space: nowrap;
  padding: 0px;
}


.wordle {
  display: inline;
}

.game {
  display: grid;
  grid-template-columns: repeat(5, 100px);
  background-color: white;
  padding: 10px;
}

.game > square
{
  color: white;
  border: 1px solid black;
  height: 100px;
  line-height: 100px;
  width: 100px;
  font-size: 30px;
  text-align: center;
}

.game > square[correct="gray"]{
  background-color: gray;
}

.game > square[correct="green"]{
  background-color: green;
}

.game > square[correct="yellow"]{
  background-color: gold;
}


.letters {
  display: grid;
  grid-template-columns: repeat(10, 30px);
  background-color: white;
  padding: 10px;
  height: 90px;
}

.letters > div{
  color: white;
  background-color: gray;
  border: 1px solid black;
  height: 30px;
  line-height: 30px;
  width: 30px;
  font-size: 20px;
  text-align: center;

}

.letters > div[guessed="green"]{
  background-color: green;
}

.letters > div[guessed="yellow"]{
  background-color: gold;
}

.letters > div[guessed="gray"]{
  background-color: darkslategrey;
}