<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wordle</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
<form action="" method="get">
    Make a Guess: <input type="text" name="guess">
    <input type="submit" value="Submit">
    <br> Last Guess: {{ output }}
    <br> Current Guess: {{ guess_no }}

</form>

<form action = "reset" method="get">
    <input type="submit" value="Reset">
</form>

<div class="wordle">
    {% for color_row in colors %}
        {% set rowloop = loop.index0 %}
        {% for color in color_row %}
            <square correct='{{color}}'>{{words[rowloop][loop.index0]}}</square>
        {% endfor %}
    {% endfor %}
      
</div>


</body>
</html>