<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wordle</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    
    <div class="wordle">
        <div class="game">
            {% for color_row in colors %}
                {% set rowloop = loop.index0 %}
                {% for color in color_row %}
                    {% if rowloop == guess_no and not won%}
                        <input type="text" name="guess_letter" id="{{loop.index0}}" autocomplete="off" autocapitalize="on" maxlength="1" onkeyup="next_box(this.id)">
                    {% else %}
                        <square correct='{{color}}'>{{words[rowloop][loop.index0]}}</square> 
                    {% endif %}

                {% endfor %}
            {% endfor %}
            
        </div>
        <div class="letters">
            {% for letter in letter_list %}
                {% if letter in " "%}
                    <br>
                
                {% else %}
                    {% if letter in green_list %}
                        <div guessed="green">
                    {% elif letter in yellow_list %}
                        <div guessed="yellow">
                    {% elif letter in gray_list %}
                        <div guessed="gray">
                    {% else %}
                        <div>
                    {% endif %}
                    {{letter}}</div>
                {% endif %}
            {% endfor %}
        </div>
    </div>

    <button name="btn_submit" onclick="combined_submit()">Submit </button>
    <br> {{ output }}
    
    <form name="simple_input" action="" method="get">
        <input type="textarea" name="guess" autocomplete="off" autocapitalize="on" maxlength="5" hidden="on">
        

    </form>

    <form action = "reset" method="get">
        <input type="submit" value="Reset" name="reset">
    </form>

<script type="text/javascript">
    function combined_submit()
    {
        console.log("Combo Submit");
        //let temp = document.getElementById("combo");
        let boxes = document.getElementsByName("guess_letter");
        var text = "";
        for(elem of boxes)
            text += elem.value
        console.log(text);

        var temp = document.forms["simple_input"];
        console.log(temp);
        temp["guess"].value = text;
        //var temp = document.createElement("FORM");
        //temp.name = "test";
        
        temp.submit();
    }
    function next_box(current_id)
    {

        console.log("Current Box" + current_id);
        
        for (let index = current_id; index < 5; index++) {
            let temp = document.getElementById(index);
            if(temp.value == "")
            {
                temp.focus();
                break;
            }
                
            
        }
        
    }

</script>

</body>


</html>